<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="neWMen" />
<title>[[title]]</title>
<link rel="stylesheet" type="text/css" href="/templates/design.css" />
<script language="JavaScript" type="text/javascript" src="/js/my_ajax.js"></script>
<script type="text/javascript" src="/js/functions.js"></script>
[[custom_header]]
</head>
<body>
<table cellspacing=0 cellpadding=0 border=0 width=100% height=100%>
	<tr class="csystem">
		<td width=50%>&nbsp;Ваш IP: [[ip]]</td>
		<td align="right" width=50%>Вы вошли как <b>[[full_name]]</b>&nbsp;|&nbsp;<a
			href="/logout.php">выдох</a>&nbsp;</td>
	</tr>
	<tr height=100%>
		<td colspan=2>
		<table cellspacing=0 cellpadding=0 border=0 width=100% height=100%>
			<tr>
				<td align="center">[[menu]]</td>
			</tr>
			<tr height=100%>
				<td width=100% align="center" valign="top">
				<hr width="90%" />
				<h2>[[topic]]</h2>